python-dotenv
jq
langchain==0.1.20
langchain-community==0.0.38
langchain-openai
langchain-anthropic
langchain-google-vertexai
langchain-chroma
chromadb-client
chromadb
rank_bm25
streamlit
pypdf
#rdflib
#google-cloud-aiplatform
pysqlite3-binary
beautifulsoup4 
