python-dotenv
jq
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-google-vertexai
langchain-chroma
chromadb
rank_bm25
streamlit
pypdf
pysqlite3-binary
beautifulsoup4
langgraph==0.1.8
tavily-python
